extends layout

block content
  main
    .container
      h1#title.mt-3= title
      .mb-2
        a(href="/inventory/category/create-new") Create a New Category

      .container#container
        .row.table-responsive.text-nowrap
      
          table.table.table-hover
            thead
              tr
                th(scope="col") Name
                th(scope="col") Items
                th(scope="col") Description
            tbody
              if categories.length === 0
                tr
                  td No categories to display
              each category in categories
                if category
                  tr
                    td #[a(href=category.url)= category.name]
                    td #[a(href=category.url)= category.numItems]
                    td #[a(href=category.url)= category.description]
    
    if categories.length > 10
      div.mb-5
        a(href="#top") Return to Top
    
