extends layout

block content
  .container
    h1.mt-3= title
    
    table(class="table table-striped mt-4")
      thead
        tr
          th(scope="col") Name
          th(scope="col") Number of Items
          th(scope="col") Description
      tbody
        if categories.length === 0
          tr
            td No categories to display
        each category in categories
          if category
            tr
              td #[a(href=category.url)= category.name]
              td= category.numItems
              td= category.description

  p #[a(href="/inventory/category/create-new") Create New Category]
