extends layout

block content
  h1= title
  h2 #{a(href="/inventory/orders") ORDERS}
    table(class="table table-striped")
      caption Open Orders
      thead
        tr
          th(scope="col") Order Date
          th(scope="col") Status
          th(scope="col") Expected Delivery
          th(scope="col") Receive
      tbody
        tr
          th 
      

