doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    // Font Awesome
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
    // Google Fonts
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css' rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.brown.darken-4.fixed-top
        .container
          // Navbar brand
          a.navbar-brand(href='/inventory') Caf&eacute; Corcovado
          // Collapse button
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#basicExampleNav' aria-controls='basicExampleNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          // Collapsible content
          #basicExampleNav.collapse.navbar-collapse
            // Links
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='/inventory') Inventory Home
              li.nav-item
                a.nav-link(href='/inventory/orders') Orders
              li.nav-item
                a.nav-link(href='/inventory/receiving') Receiving
              li.nav-item
                a.nav-link(href='/inventory/counts') Inventory Counts
              li.nav-item
                a.nav-link(href='/inventory/items') Items
              li.nav-item
                a.nav-link(href='/inventory/categories') Categories
            

    block content

    // JQuery
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js')
    script(src="/javascripts/main.js")