doctype html
html#top(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
    link(rel="stylesheet" href="/scripts/css/bootstrap.min.css")
    link(rel="stylesheet" href="/scripts/css/mdb.min.css")
    link(rel="stylesheet" href="/scripts/css/style.css")
    link(rel="stylesheet" href="/scripts/css/addons/datatables2.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header#header
      nav.navbar.navbar-expand-lg.navbar-dark.brown.darken-4.fixed-top
        .container
          // Navbar brand
          a.navbar-brand(href='/inventory') Caf&eacute; Corcovado
          // Collapse button
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#basicExampleNav' aria-controls='basicExampleNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          // Collapsible content
          #basicExampleNav.collapse.navbar-collapse
            // Links
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='/inventory') Inventory Home
              li.nav-item
                a.nav-link(href='/inventory/orders') Orders
              li.nav-item
                a.nav-link(href='/inventory/receiving') Receiving
              li.nav-item
                a.nav-link(href='/inventory/counts') Inventory Counts
              li.nav-item
                a.nav-link(href='/inventory/items') Items
              li.nav-item
                a.nav-link(href='/inventory/categories') Categories
            
    
    block content

    script(type="text/javascript" src="/scripts/js/jquery.min.js")
    script(type="text/javascript" src="/scripts/js/popper.min.js")
    script(type="text/javascript" src="/scripts/js/bootstrap.min.js")
    script(type="text/javascript" src="/scripts/js/mdb.min.js")
    script(type="text/javascript" src="/scripts/js/addons/datatables2.min.js")
    script $(document).ready(function () { $('.datatable').DataTable(); $('.dataTables_length').addClass('bs-select'); });
    script(src="/javascripts/main.js")
