main {
  margin-top: 86px;
}

caption {
  caption-side: top;
  padding-bottom: 5px;
  padding-top: 5px;
  opacity: 0.7;
}

.hidden {
  display: none !important;
}

input:invalid {
  box-shadow: 0 0 3px 0 red;
  border: none;
}

#container table.table * {
  color: #3e2723;
}

h1,
a {
  color: #4e2723;
}

#container table.table a:hover {
  color: #0056b3;
}

.md-v-line {
  position: absolute;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  height: 50px;
  top: 0px;
  left: 54px;
}

.table {
  margin-bottom: 9px;
}

.dark-brown {
  color: #3e2723;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.95em;
}

.container ul.nav-tabs .nav-item a,
.container ul.nav-tabs .nav-item a:hover {
  color: #3e2723;
}

@media (min-width: 992px) {
  .receiving-home__awaiting {
    margin-bottom: 50px;
  }
}
